{
  "extends": ["eslint:recommended", "google"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "plugins": [
    "babel",
    "react",
    "react-native"
  ],
  "env": {
    "react-native/react-native": true,
    "mocha": true,
    "es6": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "strict": [2, "never"],
    "require-jsdoc": 0,
    "no-invalid-this": 0,
    "linebreak-style": 0,
    "max-len": [1, 120],
    "object-curly-spacing": ["error", "always"],
    "babel/new-cap": 1,
    "babel/no-await-in-loop": 1,
    "no-console": 0,
    "react/jsx-uses-vars": "error",
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }]
  }
}
